RewriteEngine On
RewriteBase /here_we_go/

# Réécriture pour les catégories
RewriteRule ^categorie/([0-9]+)$ index.php?controller=pages&action=categorie&id_categorie=$1 [L]

# Réécriture pour la modification d'un vehicule
RewriteRule ^monCompte/modifier_mon_vehicule/([0-9]+)$ index.php?controller=utilisateurs&action=voirVehicule&id_vehicule_utilisateur=$1

# Réécriture pour la modification d'un covoiturage
RewriteRule ^monCompte/modifier_mon_covoiturage/([0-9]+)$ index.php?controller=covoiturages&action=modifCovoiturage&id_covoiturage=$1

# Réécriture pour la page d'un covoiturage
RewriteRule ^covoiturage/([0-9]+)$ index.php?controller=covoiturages&action=showCovoiturage&id_covoiturage=$1

# Réécriture pour la modification d'un evenement(monCompte)
RewriteRule ^monCompte/modifier_mon_evenement/([\w]+)/?$ index.php?controller=utilisateurs&action=voirEvent&id_event=$1 [L]

# Réécriture pour l'iframe'
RewriteRule ^iframe/([\w]+)/?$ views/iframe.php?id_event=$1 [L]

# Réécriture pour la page d'un evenement
RewriteRule ^fiche_evenement/([\w]+)/?$ index.php?controller=evenements&action=showEvent&id_event=$1 [L]

# Réécriture pour l'ajout d'une photo à un evenement'
RewriteRule ^evenement/ajout_photo/([\w]+)/?$ index.php?controller=utilisateurs&action=ajoutPhoto&id_event=$1 [L]

# Réécriture pour l'accueil
RewriteRule ^accueil$ index.php?controller=pages&action=home [L]

# Réécriture pour les erreurs 404
RewriteRule erreur-404 erreur_404.php [L]

# Réécriture pour la recherche
RewriteRule ^recherche$ index.php?controller=evenements&action=resultsSearch

# Réécriture pour l'ajout d'un événement
RewriteRule ^creation_evenement$ index.php?controller=evenements&action=newEvent

# Réécriture pour la gestion du site
RewriteRule ^gestion_du_site$ index.php?controller=admin&action=indexAdministration

# Réécriture pour la page mon compte
RewriteRule ^monCompte$ index.php?controller=utilisateurs&action=monCompte

# Réécriture pour la deconnexion
RewriteRule ^deconnexion$ index.php?controller=utilisateurs&action=deconnexion

# Réécriture pour la gestion des utilisateur
RewriteRule ^gestion_du_site/utilisateurs$ index.php?controller=admin&action=utilisateursAdministration

# Réécriture pour la gestion des categories et type de vehicules
RewriteRule ^gestion_du_site/categorie_type-vehicule$ index.php?controller=admin&action=categorieVehiculeAdministration

# Réécriture pour la gestion des événements
RewriteRule ^gestion_du_site/evenements$ index.php?controller=admin&action=evenementsAdministration

# Réécriture pour la modification des infos perso
RewriteRule ^monCompte/informations_personnelles$ index.php?controller=utilisateurs&action=modifierInfosPerso

# Réécriture pour l'ajout d'un vehicule
RewriteRule ^monCompte/ajout_vehicule$ index.php?controller=utilisateurs&action=ajouterVehicule

# Réécriture pour la page premiumAccount
RewriteRule ^jai_de_la_chance$ index.php?controller=utilisateurs&action=premiumAccount

# Réécriture pour la page envoyer ajout event 
RewriteRule ^submitEvent$ index.php?controller=evenements&action=add

# Réécriture pour la page envoyer ajout event  avec parametre 
RewriteRule ^submitEvent/error/([^/]+)/?$ index.php?controller=evenements&action=newEvent&error=$1 [L]

# Réécriture pour la desinscription a un evenement 
RewriteRule ^desinscription/([^/]+)/?$ index.php?controller=evenements&action=desinscriptionEvent&id_event=$1 [L]

# Réécriture pour la inscription a un evenement 
RewriteRule ^inscription/([^/]+)/?$ index.php?controller=evenements&action=inscriptionEvent&id_event=$1 [L]

# Réécriture pour la confirmation de desinscription
RewriteRule ^confirmation_desinscription/([^/]+)/([^/]+)$ index.php?controller=covoiturages&action=confirmationSuppression&id_event=$1&id_covoiturage=$2 [L]

# Réécriture pour la desinscription a un evenement + suppression des covoit
RewriteRule ^force_desinscription/([^/]+)/?$ index.php?controller=covoiturages&action=supprimerToutCovoit&id_covoiturage=$1 [L]

# Réécriture pour la page ajout covoiturage
RewriteRule ^ajouter_covoiturage/([^/]+)/?$ index.php?controller=covoiturages&action=createCovoiturage&id_event=$1 [L]

# Réécriture pour la page envoyer ajout covoit
RewriteRule ^submit_covoiturage$ index.php?controller=covoiturages&action=addCovoiturage

# Réécriture pour la page erreur covoiturage
RewriteRule ^ajouter_covoiturage/error/([^/]+)/([^/]+)$ index.php?controller=covoiturages&action=createCovoiturage&id_event=$1&error=$2 [L]

# Réécriture pour le telechargement du CSV de tous les evenement d'un utilisateur
RewriteRule ^telecharger_csv_evenements$ index.php?controller=utilisateurs&action=telechargerTousCSV

# Réécriture pour la page modifier un utilisateur (admin)
RewriteRule ^modifier_utilisateur/([^/]+)/?$ index.php?controller=admin&action=voirUser&id_utilisateur=$1

# Réécriture pour modifier un utilisateur (admin)
RewriteRule ^modification_utilisateur$ index.php?controller=admin&action=modifierUtilisateur

# Réécriture pour supprimer un utilisateur (admin)
RewriteRule ^supprimer_utilisateur/([^/]+)/?$ index.php?controller=admin&action=supprimerUtilisateur&id_utilisateur=$1 [L]

# Réécriture pour aller a la page de validation d'un evenement (admin)
RewriteRule ^validation/([^/]+)/?$ index.php?controller=admin&action=validateAnEvent&id_event=$1 [L]

# Réécriture pour aller a la page de modificationd'un evenement (admin)
RewriteRule ^modifier/([^/]+)/?$ index.php?controller=admin&action=updateAnEvent&id_event=$1 [L]

# Réécriture pour modifier un evenement (admin)
RewriteRule ^modifier_evenement$ index.php?controller=admin&action=update

# Réécriture pour aller a la page confirmation de suppression d'un evenement (admin)
RewriteRule ^supprimer_evenement/([^/]+)/?$ index.php?controller=evenements&action=confirmerSuppression&id_event=$1 [L]

# Réécriture pour aller a la page confirmation de suppression d'un evenement (admin)
RewriteRule ^supprimer_evenement_autoriser/([^/]+)/?$ index.php?controller=evenements&action=delete&id_event=$1 [L]

# Réécriture pour aller a la page de modification d'une categorie (admin)
RewriteRule ^modifier_categorie/([^/]+)/?$ index.php?controller=admin&action=voirCategorie&id_categorie=$1 [L]

# Réécriture pour aller a la page d'ajout d'une categorie (admin)
RewriteRule ^ajouter_categorie$ index.php?controller=admin&action=ajouterCategorie

# Réécriture pour aller a la page de modification d'un type de vehicule (admin)
RewriteRule ^modifier_type_vehicule/([^/]+)/?$ index.php?controller=admin&action=voirTypeVehicule&id_vehicule=$1 [L]

# Réécriture pour aller a la page d'ajout d'un type vehicule (admin)
RewriteRule ^ajouter_type_vehicule$ index.php?controller=admin&action=ajouterTypeVehicule


