.datepicker {
    display: none;
    width: 300px;

    #search {
        width: 100%;
    }
}

#boutton-datepicker {
    cursor: pointer;
}

.none {
    display: none;
}

.visible {
    display: block;
}