.datepicker {
    display: none;
    width: 300px;
    margin-left: 30px;

    #search {
        width: 100%;
    }
}

#boutton-datepicker {
    cursor: pointer;
    width: 102px;
}

.none {
    display: none;
}

.visible {
    display: block;
}

#boutton-rechercher {
    background: transparent;
    border: none;
    margin-right: 30px;
}