#map {
    height: 350px;
    width: 100%;
}

#mapAccueil {
    height: 500px;
    width: 50%;
    margin: 20px auto 50px;
}

.leaflet-container a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}