textarea {
    resize: none;
    width: 100%;
    padding: 15px;
}

.photo-event {
    width: 60%;
    display: block;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.ancre-monCompte {
    button {
        /* Variables */
        --button_radius: 0.75em;
        --button_color: #e8e8e8;
        --button_outline_color: #000000;
        font-size: 17px;
        font-weight: bold;
        border: none;
        border-radius: var(--button_radius);
        background: var(--button_outline_color);

        a {
            text-decoration: none;
        }
    }

    .button_top {
        display: block;
        box-sizing: border-box;
        border: 2px solid var(--button_outline_color);
        border-radius: var(--button_radius);
        padding: 0.75em 1.5em;
        background: var(--button_color);
        color: var(--button_outline_color);
        transform: translateY(-0.2em);
        transition: transform 0.1s ease;
    }

    button:hover .button_top {
        /* Pull the button upwards when hovered */
        transform: translateY(-0.33em);
    }

    button:active .button_top {
        /* Push the button downwards when pressed */
        transform: translateY(0);
    }
}

.infosPerso {
    @media screen and (max-width: 770px) {
        li {
            font-size: 1rem;
        }
    }
}

.none-vehicule {
    @media screen and (max-width:530px) {
        display: none;
    }
}

.table-covoit {
    @media screen and (max-width:530px) {
        font-size: 0.8rem;
    }
}

.mon-compte {
    h2 {
        @media screen and (max-width: 770px) {
            font-size: 1.5rem;
        }

        @media screen and (max-width:530px) {
            font-size: 1.2rem;
        }
    }
}