@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

li {
  list-style: none;
}

@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
main {
  margin-top: 75px;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(245, 243, 241);
  position: relative;
}

.header-color {
  background-color: #F5D0FF;
}

.background-index {
  background-image: url(../assets/img/banner-logo-2.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}
@media screen and (max-width: 750px) {
  .background-index {
    background-size: 200%;
  }
}

.bg-color {
  background-color: #F9E0CF;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 85px;
  color: #3e6c77;
  text-align: center;
  margin: 150px 0 100px;
}
@media screen and (max-width: 870px) {
  h1 {
    font-size: 60px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 460px) {
  h1 {
    font-size: 40px;
  }
}

.h1-home {
  margin-top: 0;
}
.h1-home::first-letter {
  text-transform: uppercase;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 43px;
  color: #69BACE;
}

.covoiturage {
  color: green;
}

.search-box {
  position: relative;
}

.search-box input {
  padding-right: 35px;
  border-color: #dfe3e8;
  border-radius: 4px !important;
  box-shadow: none;
}

.search-box .input-group-text {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px;
  height: 100%;
}

.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}

.or-seperator {
  margin-top: 32px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}

.or-seperator b {
  color: #666;
  padding: 0 8px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 26px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -15px;
  z-index: 1;
}

.form-check-label input {
  position: relative;
  top: 1px;
}

/* card */
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16/9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/************************ 
  Generic layout (demo looks)
  **************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}
@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.show-link {
  display: none;
}
@media screen and (max-width: 670px) {
  .show-link {
    display: table-cell;
  }
}

@media screen and (max-width: 670px) {
  .hide-link {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .list-unstyled li {
    font-size: 1.2rem !important;
  }
}

.notifUser {
  width: 30px;
  height: 30px;
  display: block;
  background-color: red;
  color: white;
  font-weight: bold;
  position: absolute;
  border-radius: 100%;
  font-size: 1.3rem;
  top: -20px;
  left: 90%;
}

.toggleAvatar::after {
  content: none;
}

.dropdownAvatar {
  position: absolute;
  right: 70px !important;
  top: 7px;
}
@media screen and (max-width: 1400px) {
  .dropdownAvatar {
    display: none;
  }
}

#text-to-audio {
  display: none;
}

.error-message {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 60%;
  padding: 10px 20px;
  color: red;
  background: rgba(250, 198, 198, 0.74);
  border: 2px solid red;
  text-align: center;
}

.success-message {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 60%;
  padding: 10px 20px;
  color: green;
  background: rgba(208, 250, 198, 0.74);
  border: 2px solid green;
  text-align: center;
}

.datepicker {
  display: none;
  width: 300px;
  margin-left: 30px;
}
@media screen and (max-width: 1550px) {
  .datepicker {
    width: 200px;
  }
}
.datepicker #searchDate {
  width: 100%;
  height: 40px;
}

@media screen and (max-width: 1550px) {
  #searchBox {
    width: 200px;
  }
}

#search {
  height: 40px;
}

#boutton-datepicker {
  cursor: pointer;
}
#boutton-datepicker span {
  height: 38px;
  width: 102px;
  padding: 0.5rem 0rem;
  background: #77c9dd;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#boutton-datepicker span:hover {
  background: #40897E;
}

.none {
  display: none;
}

.visible {
  display: block;
}

#boutton-rechercher {
  background: transparent;
  border: none;
  margin-right: 30px;
}

.iframeText {
  background: transparent;
  border: none;
  resize: none;
  overflow: hidden;
}
.iframeText:focus {
  outline: none;
}

.checkbox {
  width: 180px;
  height: 40px;
  background-color: #d0d0d0;
  border-radius: 30px;
  position: relative;
  color: black;
  overflow: hidden;
}

#checkbox_toggle {
  display: none;
}

.checkbox .toggle {
  width: 80px;
  height: 30px;
  position: absolute;
  border-radius: 30px;
  left: 5px;
  cursor: pointer;
  background: linear-gradient(40deg, #FF0080, #FF8C00 70%);
  transition: 0.4s;
  box-shadow: 0px 0px 3px rgb(255, 255, 20), 0px 0px 5px rgb(255, 255, 20);
}

.checkbox .slide {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px 0 13px;
  cursor: pointer;
}

.checkbox .slide .text {
  font-size: 16px;
  font-weight: 700;
  z-index: 100;
  cursor: pointer;
}

.check:checked + .checkbox .slide .toggle {
  transform: translateX(92px);
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
  box-shadow: 0px 0px 10px #8983F7, 0px 0px 3px #8983F7;
}

.check:checked + .checkbox .slide {
  background-color: #0a1929;
  color: #fff;
}

textarea {
  resize: none;
  width: 100%;
  padding: 15px;
}

.photo-event {
  width: 60%;
  display: block;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
table td {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  table {
    font-size: 1rem;
  }
  table .btn-primary {
    padding: 8px;
    width: 100px;
  }
}
@media screen and (max-width: 700px) {
  table {
    font-size: 0.8rem;
  }
  table .btn-primary {
    padding: 0px;
    width: 70px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 770px) {
  table {
    font-size: 0.8rem;
  }
  table .none-conducteur {
    display: none;
  }
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.ancre-monCompte button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}
.ancre-monCompte button a {
  text-decoration: none;
}
.ancre-monCompte .button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}
.ancre-monCompte button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}
.ancre-monCompte button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

@media screen and (max-width: 770px) {
  .infosPerso li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .none-vehicule {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .table-covoit {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 770px) {
  .mon-compte h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 530px) {
  .mon-compte h2 {
    font-size: 1.2rem;
  }
}

.photo-event-div {
  margin: 150px auto 50px;
}
.photo-event-div img {
  width: 100%;
  height: 570px;
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
}
@media screen and (max-width: 770px) {
  .photo-event-div img {
    height: 300px;
  }
}

.card-img-top {
  height: 220px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.date-heure-event {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.h2-line-height {
  line-height: 25px;
  margin-bottom: 30px;
}

.right-O {
  right: 0;
}

#btn-audio:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.map-iframe {
  width: 100%;
}

.card {
  transition: 0.3s ease-out;
  background: rgba(0, 0, 0, 0.027);
}
.card:hover {
  transform: scale(1.02) !important;
}

#map {
  height: 350px;
  width: 100%;
  z-index: 3;
}

#mapAccueil {
  height: 500px;
  width: 50%;
  margin: 20px auto 50px;
  z-index: 3;
}
@media screen and (max-width: 1200px) {
  #mapAccueil {
    width: 80%;
    height: 300px;
  }
}

#mapPremium {
  height: 500px;
  width: 70%;
  margin: 20px auto 50px;
  z-index: 3;
}
@media screen and (max-width: 1200px) {
  #mapPremium {
    width: 80%;
    height: 300px;
  }
}

.leaflet-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

h3 {
  color: #69BACE;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 55px;
  position: relative;
}

.h1-Autres {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  color: #3e6c77;
  text-align: center;
  margin-bottom: 60px;
}

/* Page évenements */
.texte-long {
  line-height: 2;
  font-size: 25px;
}

img {
  max-width: 100%;
  transform-origin: center;
}

.text-description {
  font-size: 25px;
}

.heure-date {
  color: rgb(105, 186, 206);
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 55px;
  position: relative;
  text-transform: capitalize;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 1px 4px #23430C;
}
@media screen and (max-width: 1000px) {
  .heure-date span {
    font-size: 1.7rem;
  }
}

.photo-event-div img {
  margin-top: 50px;
}

.link {
  font-weight: 800;
}

.info-evenenment {
  font-weight: 500;
  color: #048b9a;
  margin-top: 5px;
  font-size: 15px;
}

.description-detail {
  margin: 15%;
}

@media screen and (max-width: 1150px) {
  .event-description {
    font-size: 1.2rem;
  }
}

p {
  font-size: 25px;
}

li {
  font-size: 25px;
}

textarea {
  resize: none;
  width: 100%;
  padding: 15px;
}

.photo-event {
  width: 60%;
  display: block;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
table td {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  table {
    font-size: 1rem;
  }
  table .btn-primary {
    padding: 8px;
    width: 100px;
  }
}
@media screen and (max-width: 700px) {
  table {
    font-size: 0.8rem;
  }
  table .btn-primary {
    padding: 0px;
    width: 70px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 770px) {
  table {
    font-size: 0.8rem;
  }
  table .none-conducteur {
    display: none;
  }
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.ancre-monCompte button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}
.ancre-monCompte button a {
  text-decoration: none;
}
.ancre-monCompte .button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}
.ancre-monCompte button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}
.ancre-monCompte button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

@media screen and (max-width: 770px) {
  .infosPerso li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .none-vehicule {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .table-covoit {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 770px) {
  .mon-compte h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 530px) {
  .mon-compte h2 {
    font-size: 1.2rem;
  }
}

.golden-button {
  z-index: 10;
  position: fixed;
  top: 250px;
  right: 80px;
  touch-action: manipulation;
  display: inline-block;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4), inset 0 -2px 5px 1px rgb(139, 66, 8), inset 0 -1px 1px 3px rgb(250, 227, 133);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgb(250, 227, 133);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}
@media screen and (max-width: 1400px) {
  .golden-button {
    top: 15px;
    right: 50%;
    transform: translateX(50%);
  }
}
@media screen and (max-width: 700px) {
  .golden-button {
    top: 20px;
    right: 40%;
    text-transform: lowercase;
    font-size: 0.7em;
  }
  .golden-button::first-letter {
    text-transform: uppercase;
  }
}

.golden-button a {
  color: inherit;
  text-decoration: inherit;
}

.golden-button:focus,
.golden-button:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgb(250, 227, 133);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}

.golden-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgb(250, 227, 133);
}

.action-buttons .btn-primary {
  margin-top: 15px;
}
.action-buttons .form-group {
  margin-bottom: 10px;
}
@media screen and (max-width: 1400px) {
  .action-buttons .nav-item {
    margin: 15px 0;
  }
}

.btn-primary {
  padding: 15px;
  width: 180px;
  font-size: 20px;
  background: #69BACE;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 5px 5px 0px 0px #000;
}

.btn-danger {
  padding: 15px;
  width: 180px;
  font-size: 20px;
  background: #ff3c00;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 5px 5px 0px 0px #000;
  text-align: center;
}

.btn-secondary {
  padding: 15px;
  width: 180px;
  font-size: 20px;
  background: #888685;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 5px 5px 0px 0px #000;
  text-align: center;
}

.btn-primary:hover {
  background-color: #3f96ac;
}

@media (max-width: 768px) {
  .navbar .dropdown-menu.action-form:not(.action-form) {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: none;
  }
  .navbar .form-inline {
    display: block;
  }
  .navbar .input-group {
    width: 100%;
  }
}
.navbar .form-control {
  box-shadow: none;
  font-weight: normal;
  font-size: 16px;
}

.navbar {
  background: #69bace !important;
  padding-left: 35px;
  padding-right: 35px;
  border-bottom: 5px solid black;
  border-radius: 0;
  position: fixed;
  /* Utilisation de 'fixed' au lieu de 'sticky' */
  width: 100%;
  min-height: 77.5px;
  top: 0;
  z-index: 9;
}

.nav-link {
  color: white !important;
  transition: 0.4s ease;
}
.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}

.navbar .navbar-brand {
  padding-left: 0;
  font-size: 35px;
  padding-right: 50px;
}
@media screen and (max-width: 700px) {
  .navbar .navbar-brand {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 425px) {
  .navbar .navbar-brand {
    font-size: 1.2rem;
  }
}

.navbar .navbar-brand b {
  color: white;
}

.navbar .form-inline {
  display: inline-block;
}

.navbar a {
  color: #242020;
  font-size: 18px;
}

.navbar .sign-up-btn {
  min-width: 110px;
  max-height: 36px;
}

.navbar .dropdown-menu {
  color: #999;
  font-weight: normal;
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar a,
.navbar a:active {
  padding: 8px 20px;
  background: transparent;
  line-height: normal;
}

.navbar .navbar-form {
  border: none;
}

.navbar .action-form {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}

.navbar .action-form a {
  color: #33cabb;
  padding: 0 !important;
  font-size: 14px;
}

.navbar .action-form .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}

.navbar .btn-primary,
.navbar .btn-primary:active {
  color: #fff;
  background: #048b9a !important;
  border: none;
}

.navbar .btn-primary:hover,
.navbar .btn-primary:focus {
  color: #fff;
  background: #31bfb1 !important;
}

.navbar .social-btn .btn,
.navbar .social-btn .btn:hover {
  color: #fff;
  margin: 0;
  padding: 0 !important;
  font-size: 13px;
  border: none;
  transition: all 0.4s;
  text-align: center;
  line-height: 34px;
  width: 47%;
  text-decoration: none;
}

.navbar .social-btn .btn i {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.navbar .action-buttons .dropdown-toggle::after {
  display: none;
}

@media screen and (max-width: 1400px) {
  .nav-item a:not(.dropdown-item) {
    display: inline;
  }
}

.dropdown-menu {
  transition: 2s ease;
}
@media screen and (max-width: 1400px) {
  .dropdown-menu {
    width: 329px;
  }
}

.menuHidden {
  display: none;
}
@media screen and (max-width: 1400px) {
  .menuHidden {
    display: initial;
  }
}

.navbar-nav {
  gap: 15px;
}

.nav-item.nav-link:hover .black-hover {
  color: black;
}

.dropdown-toggle:hover .black-hover {
  color: black;
}

/* footer */
footer {
  margin-top: 100px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #69BACE;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text input[type=email] {
  height: 31.2px;
  padding-left: 10px;
}
.cta-text button {
  border: initial !important;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-widget h4 {
  color: white;
}
.footer-widget a {
  color: inherit;
  font-size: 3rem;
}
.footer-widget a svg {
  height: 3rem;
}
.footer-widget i {
  font-size: 3rem;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: black;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.copyright-text p a {
  color: black;
}

.footer-menu li a {
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */